<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3RA_EVA_7_LISTA_ARCHIVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1092E3291EC4C611001C8BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1092E33D1EC4C612001C8BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1092E3481EC4C612001C8BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
