<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3RA_EVA_1_TAB_CONTROLLER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>101EA6FF1EB2506C002472D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101EA7131EB2506D002472D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101EA71E1EB2506D002472D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
